@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


body {
   font-family: Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      sans-serif;
   overflow-x: hidden;
}

.main {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.main::-webkit-scrollbar {
   display: none;
}

.main-mobile {
   display: none;
}

@media (max-width: 760px) {
   .main {
      display: none;
   }

   .main-mobile {
      display: contents;
      text-align: center;
   }

   .main-mobile h2 {
      margin-top: 40vh;
      font-size: 3vw;
      font-weight: 700;
      line-height: 150%;
   }

   .main-mobile span {
      color: #FF4B97;
   }

   .main-mobile p {
      margin-top: 1vw;
   }

   .main-list {
      margin-top: 3vw;
   }

   .main-list img {
      width: 5vw;
      margin-right: 1vw;
   }
}