@font-face {
   font-family: 'Druk Text Wide Trial Medium';
   font-style: normal;
   font-weight: normal;
   src: local('Druk Text Wide Trial Medium'), url('/assets/font/DrukWide-Medium-Trial.woff') format('woff');
}

@font-face {
   font-family: 'Pixel Screen Font';
   font-style: normal;
   font-weight: normal;
   src: local('pixelscreenfontlight'), url('/assets/font/pixelscreenfontlight.ttf') format('truetype');
}

.home-title {
   margin-top: 15vh;
   margin-left: 3vw;
}

.home-serve-title {
   position: absolute;
   display: flex;
   flex-direction: column;
}

.home-title p {
   font-size: 1vw;
   font-weight: 700;
}

.home-serve-title span {
   display: inline-block;
   width: fit-content;
   height: 3.4vw;
   font-family: 'Pixel Screen Font';
   font-size: 4vw;
   background-color: #FF4B97;
   text-shadow: -9px 0px #FF4B97, 0px 9px #FF4B97, 9px 0px #FF4B97, 0px -9px #FF4B97;
}

.home-serve-title span span {
   display: inline-block;
   transition: transform 0.3s ease, opacity 0.3s ease;
   transform: translateY(0);
}

.home-serve-title span span.active {
   transform: translateY(-20px);
   /* 튀어오름 */
}


.home-serve-title>span:nth-child(1) {
   margin-top: 4vw;
   margin-left: 9vw;
}

.home-serve-title>span:nth-child(2) {
   margin-top: 3vw;
   margin-left: 25vw;
}

.home-serve-title>span:nth-child(3) {
   margin-top: 3vw;
   margin-left: 18vw;
}


h1 {
   font-family: 'Druk Text Wide Trial Medium';
   font-size: 5vw;
   display: flex;
   flex-direction: column;
   letter-spacing: 0.2vw;

}

h1 span {
   margin-bottom: 1.5vw;

}

h1>span:nth-child(2) {
   margin-left: 20vw;
}

h1>span:nth-child(3) {
   margin-left: 10vw;
}