.main-profile {
   margin-top: 25vh;

   display: flex;
   margin-left: 3vw;
   margin-right: 3vw;
}


.main-profile h2 {
   margin-bottom: 3vw;
   border-bottom: 1.75px solid #000;
   font-size: 2vw;
   font-weight: 500;
   padding-bottom: 0.5vw;
}

.main-profile span,
.main-profile p {
   font-size: 1vw;
   margin-bottom: 1.5vw;
}

.main-profile p {
   font-weight: 600;
}

.profile-left {
   margin-right: 2vw;
}

.profile-content,
.profile-education {
   margin-bottom: 2vw;
   display: flex;
}

.profile-details,
.education-details,
.awards-details {
   display: flex;
   flex-direction: column;
}

.profile {
   width: 47vw;
}

.education,
.awards {
   margin-top: 2.5vw;
   width: 34vw;
   margin-left: 13vw;
}


.profile span {
   font-weight: 400;
   margin-right: 10vw;
}

.education span,
.awards span {
   margin-right: 10vw;
}

.profile-img {
   position: relative;
   display: flex;
}

.profile-img img {
   width: 40vw;
   height: fit-content;
   margin-right: 5vw;
   margin-top: 2.5vw;
}