.project-container {
   margin-top: 10vw;
}

.project-container h2 {
   font-size: 2vw;
   font-weight: 500;
   border-bottom: 1.75px solid #555;
   padding-bottom: 0.5vw;
   padding-left: 3vw;
}

.project-content {
   height: 50vw;
   background-image: url('/assets/img/bgi.png');
   background-repeat: no-repeat;
   background-size: cover;
}