.skill-component {
   margin-top: 10vw;
   overflow: hidden;
}

.section-title {
   margin-bottom: 3vw;
}

.section-title h2 {
   font-size: 2vw;
   font-weight: 500;
   border-bottom: 1.75px solid #555;
   padding-bottom: 0.5vw;
   margin-bottom: 2.5vw;
   padding-left: 3vw;
}

.section-title p {
   font-size: 0.9vw;
   font-weight: 400;
   text-align: right;
   line-height: 150%;
   color: #555;
   margin-right: 3vw;
}

table {
   margin-left: 3vw;
   width: 100vw;
   border-collapse: collapse;
}

td {
   vertical-align: top;
   border-top: 1.75px solid #000;
   border-bottom: 1.75px solid #000;
   font-size: 1vw;
}

.skill-img {
   width: 10vw;
   height: 10vw;
   object-fit: contain;
}

.skill-img-td {
   border: 1.75px solid #000;
}

.skill-name {
   padding-top: 2vw;
   padding-left: 3vw;
}


.skill-ex {
   font-size: 0.8vw;
   padding-top: 2vw;
   line-height: 150%;
   text-align: left;
   padding-right: 5.5vw;
}


/* 프로그래스 */
.progress-td {
   padding-left: 23vw;
   padding-right: 3vw;
   padding-top: 2vw;
   text-align: center;
}

.progress-bar {
   position: relative;
   width: 12vw;
   height: 13px;
   background-color: #ddd;
   overflow: hidden;
}

.progress-bar-fill {
   height: 100%;
   background-color: #FF4B97;
   width: 0%;
   /* 기본 상태 */
   transition: width 2s ease;
   /* 애니메이션 추가 */
}

.progress-bar-fill-animate {
   transition: width 2s ease;
   /* 애니메이션 시작 시 적용 */
}

.proficiency-text {
   margin-top: 1vh;
   font-size: 0.8vw;
   color: #555;
   display: block;
}